/* This is the style sheet for google-homepage*/

body, header, nav, div, a, img, form, input, footer {
 width: 100%;
 height: 100%;
 font-family: "Sans Serif"; 
}

.main, .header-nav, .top-nav, .left-side, .right-side, .center, .img-center, .footer-nav {

}
