/* This is the style sheet for google-homepage*/

body header nav ul a img form input footer {
 font-family: arial, sans-serif; 
}

.main, .header-nav, .top-nav, .left-side, .right-side, .center, .img-center, .footer-nav {

}

html body {
 height: 100%;
 margin: 0;
 font-family: arial, sans-serif;
}

body {
 background: #fff;
}

.header-nav .top-nav .left-side .right-side .anchor {
 display: inline;
}

ul {
 display: inline;
 text-decoration: none;
}

.left-side {
 margin-left: -35px;
}

.right-side {
 margin-left: 75%; 
}

.right-side .anchor {
 padding-right: 10px; 
}

ul .right-side {
 display: inline-block;
}

form .center {
 padding-left: 629px;
 padding-right: 650px;
 padding-top: 164px;
}

input {
 height: 44px;
 width: 584px;
}

form {
 width: 700px;
 margin: 0 auto;
}
