/* This is the style sheet for google-homepage*/

body header nav div a img form input footer {
 font-family: "Arial", sans-serif; 
}

.main, .header-nav, .top-nav, .left-side, .right-side, .center, .img-center, .footer-nav {

}

html body {
 height: 100%;
 margin: 0;
}

body {
 background: #fff;
}

.header-nav .top-nav {
 display: inline;
}
